<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <h1>Hello</h1>
    <div class="container-fluid bg-light">
        <div class="container mt-4">
            <div class="row">
                <div class="col">
                    <h1 class="text-center bold">Voucher Information</h1>
                    <table class="table table-striped" th:if="${voucher}">
                        <thead>
                        <tr>
                            <th>Voucher Id</th>
                            <th>Purchase Date</th>
                            <th>Customer Name</th>
                            <th>Total Price</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${voucher.id}"></td>
                            <td th:text="${voucher.purchaseTime}"></td>
                            <td th:text="${voucher.customer.name}"></td>
                            <td th:text="${voucher.totalPrice}"></td>
                            <td th:text="${voucher.customer.remark}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 class="text-center bold">Voucher Details Of Customer</h1>
                    <table class="table table-striped" th:if="${voucher}">
                        <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${voucher.getCustomer().getProducts()}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td th:text="${product.price}+' ks'"></td>
                        </tr>
                        <tr>
                            <td colspan="3">Total Cost</td>
                            <td  th:text="${voucher.totalPrice} +' ks'"></td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/voucher/info}" class="btn btn-outline-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>